<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Winter Sports Shop{% endblock %}</title>
        {% block stylesheets %}
            {# Bootstrap CSS #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
            {# Bootstrap Icons #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
            {# Custom CSS #}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/shop.css') }}">
            <link rel="stylesheet" href="{{ asset('css/dropdown.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% include('_partials/_navbar.html.twig') %}
        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="container">
                        <div class="flash-{{ label }}">{{ message }}</div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include('_partials/_footer.html.twig') %}
        </footer>

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>
